{
  "Actions": [
    { "Name": "Forward", "GroupName": "Movement", "KeyboardCode": "W", "GamepadCode": "None" },
    { "Name": "Backward", "GroupName": "Movement", "KeyboardCode": "S", "GamepadCode": "None" },
    { "Name": "Left", "GroupName": "Movement", "KeyboardCode": "A", "GamepadCode": "None" },
    { "Name": "Right", "GroupName": "Movement", "KeyboardCode": "D", "GamepadCode": "None" },
    { "Name": "Attack1", "GroupName": "Actions", "Title": "Use Tool", "KeyboardCode": "mouse1", "GamepadCode": "RightTrigger" },
    { "Name": "Boost", "GroupName": "Actions", "Title": "Swim Boost", "KeyboardCode": "shift", "GamepadCode": "A" },
    { "Name": "Surface", "GroupName": "Actions", "Title": "Emergency Surface", "KeyboardCode": "r", "GamepadCode": "Y" },
    { "Name": "Light", "GroupName": "Actions", "Title": "Toggle Light", "KeyboardCode": "f", "GamepadCode": "X" },
    { "Name": "Camera", "GroupName": "Actions", "Title": "Take Photo", "KeyboardCode": "c", "GamepadCode": "DpadNorth" },
    { "Name": "Slot1", "GroupName": "Inventory", "KeyboardCode": "1", "GamepadCode": "DpadWest" },
    { "Name": "Slot2", "GroupName": "Inventory", "KeyboardCode": "2", "GamepadCode": "DpadEast" },
    { "Name": "Slot3", "GroupName": "Inventory", "KeyboardCode": "3", "GamepadCode": "DpadSouth" }
  ],
  "__guid": "b956f8da-f584-4336-af19-91fd317e5d55",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}
