{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Attack1",
      "GroupName": "Actions",
      "Title": "Cast / Reel",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Attack2",
      "GroupName": "Actions",
      "Title": "Secondary",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "Reload",
      "GroupName": "Actions",
      "Title": "Shop / Reel Alt",
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "Use",
      "GroupName": "Actions",
      "Title": "Interact",
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": "Fish Log",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Menu",
      "GroupName": "Other",
      "Title": "Menu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Flashlight",
      "GroupName": "Other",
      "Title": "Tips",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": "Slot #1",
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": "Slot #2",
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": "Slot #3",
      "KeyboardCode": "3",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": "Slot #4",
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": "Slot #5",
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Inventory",
      "Title": "Slot #6",
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Inventory",
      "Title": "Slot #7",
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Inventory",
      "Title": "Slot #8",
      "KeyboardCode": "8",
      "GamepadCode": "None"
    }
  ],
  "__guid": "d2eae677-8f3f-4ffb-ba60-a9e43d3313c6",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}
