{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": "Pan Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": "Pan Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": "Pan Left",
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": "Pan Right",
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": "Sprint / Drag Pan",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": "Crouch",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "Reload",
      "GroupName": "Actions",
      "Title": "Reload / Rotate Placement",
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "Attack1",
      "GroupName": "Actions",
      "Title": "Place / Select / Fire",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Attack2",
      "GroupName": "Actions",
      "Title": "Cancel Build",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "Cancel",
      "GroupName": "Actions",
      "Title": "Cancel",
      "KeyboardCode": "escape",
      "GamepadCode": "B"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": "Scoreboard",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Leaderboard",
      "GroupName": "Other",
      "Title": "Leaderboard",
      "KeyboardCode": "L",
      "GamepadCode": "None"
    },
    {
      "Name": "TutorialTips",
      "GroupName": "Other",
      "Title": "Toggle Tips",
      "KeyboardCode": "h",
      "GamepadCode": "None"
    },
    {
      "Name": "ToggleUi",
      "GroupName": "Other",
      "Title": "Toggle UI",
      "KeyboardCode": "U",
      "GamepadCode": "None"
    }
  ],
  "__guid": "ad07ee21-4321-4f8d-963f-da6bddf156c3",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}
