{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "270c0cd8-d6f8-4ac7-b21a-777baa0dd51b",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}