{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "a44fba83-0fd5-4b1d-b67e-95c168d92c5e",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}