{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Run",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "SHIFT",
      "GamepadCode": "None"
    },
    {
      "Name": "CameraRotateLeft",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "CameraRotateRight",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "None",
      "GamepadCode": "None"
    },
    {
      "Name": "Interact",
      "GroupName": "Player",
      "Title": "Interact",
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "CatchConfirm",
      "GroupName": "Player",
      "Title": "Catch",
      "KeyboardCode": "SPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "CameraDrag",
      "GroupName": "Camera",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    },
    {
      "Name": "attack1",
      "GroupName": "Build",
      "Title": null,
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None"
    },
    {
      "Name": "attack2",
      "GroupName": "Build",
      "Title": null,
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    },
    {
      "Name": "RotatePiece",
      "GroupName": "Build",
      "Title": null,
      "KeyboardCode": "R",
      "GamepadCode": "None"
    },
    {
      "Name": "Demolish",
      "GroupName": "Build",
      "Title": null,
      "KeyboardCode": "X",
      "GamepadCode": "None"
    },
    {
      "Name": "ExpandLand",
      "GroupName": "Build",
      "Title": null,
      "KeyboardCode": "V",
      "GamepadCode": "None"
    },
    {
      "Name": "BuildMenu",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "B",
      "GamepadCode": "None"
    },
    {
      "Name": "Market",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "N",
      "GamepadCode": "None"
    },
    {
      "Name": "Backpack",
      "GroupName": "Menus",
      "Title": "Backpack",
      "KeyboardCode": "I",
      "GamepadCode": "None"
    },
    {
      "Name": "Codex",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "C",
      "GamepadCode": "None"
    },
    {
      "Name": "Progression",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "P",
      "GamepadCode": "None"
    },
    {
      "Name": "ZooPanel",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "L",
      "GamepadCode": "None"
    },
    {
      "Name": "StatsMenu",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "None"
    },
    {
      "Name": "DebugPanel",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "F3",
      "GamepadCode": "None"
    },
    {
      "Name": "Chat",
      "GroupName": "Menus",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "Cancel",
      "GroupName": "Menus",
      "Title": "Cancel / Close",
      "KeyboardCode": "ESCAPE",
      "GamepadCode": "None"
    }
  ],
  "__guid": "1f7b5d47-d78e-4855-a8ca-429a180e8138",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}
